@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body{
    background-image: url("images/about_bg2.png");
}
.about{
    display:flex;
    margin-top:400px;
    
    margin-left: 600px;
    padding: 20px;
    border:30px;

    border-radius:20px ;
    
    color:black;
    font-size:18px;
    
}